<link rel="stylesheet" href="{{ 'productsgrid.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript> {{ 'productsgrid.css' | asset_url | stylesheet_tag}} </noscript>
<script src="{{'productsgrid.js' | asset_url }}" defer="defer"></script>

<div class="product product--{{ section.settings.media_size }} product--{{ section.settings.gallery_layout }} grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">
  <div class="grid__item product__media-wrapper">
   
<div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="product-recommendations page-width section-{{ section.id }}-padding isolate" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}">
      <div class="title-wrapper-with-link{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
        <h2 class="collection-list-title">{{ section.settings.title | escape }} Productos</h2>
      </div>
      <ul class="grid product-grid grid--{{ section.product-grid.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down" role="list">
            {% for product in collections['coleccionprod'].products %}
            <li class="grid__item">
                <a href="{{ product.url }}" class="product__title">
                  <img id="product_image-{{product.url}}" 
                  src="{{ product.images | first | image_url: width: 300  }}" 
                  alt="{{ product.title }}" l
                  oading='lazy' 
                  width=300 
                  height=300
                  defaultImage="{{product.images | first | image_url: width: 300}}" />
                  </a>
                   <div class="card__information">
                        <h3 class="card__heading">{{ product.title }}</h3>
                        <h3 class="card__heading">{{ product.price | money_with_currency  }}</h3>
                        <div class="container_input">
                          {% assign colors_list = section.settings.colors | newline_to_br | split: '<br />' %}
                          <style>
                            {%- for color in colors_list -%}
                            {%- assign css = color | split: '|' -%}
                              .color_{{ css[0] | handle }} { background: {{css[1]}} }
                             /*  {%- comment -%}In this example I'm using background, you can use whatever you want{%- endcomment -%} */
                            {%- endfor -%}
                          </style>
                          {% for product_option in product.options_with_values %}
                            <p>{{ product_option.name }}:</p>
                            {% if product_option.name == 'Color' or product_option.name == 'Colour' %}
                              <div id="color" class="wrapper">
                                {% for value in product_option.values %}
                                {% liquid
                                    assign currentPosition=forloop.index | minus: 1
                                    assign variant=product.variants[currentPosition]
                                %}
                                <input type="radio" name="txt" value="1" onchange=updateProduct(this)>
                                <input 
                                class="input_productgrid" 
                                id="{{ variant.id }}"
                                onchange=updateProduct(this)
                                idImageProd="product_image-{{product.url}}"
                                image_hover="{{variant | image_url}}"
                                value="{{ value | handle }}"
                                type="radio"
                                {% if product_option.selected_value == value %}checked{% endif %}>
                                <label 
                                for="{{ value | handle }}" 
                                class="color_{{ value | handle }}" 
                               >&nbsp;</label>
                                {%- endfor -%}
                              </div>
                            {% else %}
                              <select class=" select__select">
                                {% for value in product_option.values %}
                                  <option {% if product_option.selected_value == value %}selected{% endif %}>
                                    {{ value }}
                                  </option>
                                {% endfor %}
                              </select>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="container_quantity">
                          <quantity-input class="quantity">
                              <button class="quantity__button no-js-hidden" name="minus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                                {% render 'icon-minus' %}
                              </button>
                              <input class="quantity__input"
                                  type="number"
                                  name="quantity"
                                  id="quantity__input-{{ product.id }}"
                                  min="1"
                                  value="1"
                                  disabled="disabled"
                                >
                              <button class="quantity__button no-js-hidden" name="plus" type="button">
                                <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                                {% render 'icon-plus' %}
                              </button>
                          </quantity-input>
                          <div class="product-form__buttons">
                            {% assign variant = product.variants[0] | json %}
                           <button
                             id="{{product.id}}"
                             onclick=addToCart(this)
                             class="product-form__submit button button--full-width button_productgrid">
                               <span>
                                 {%- if product.selected_or_first_available_variant.available -%}
                                   {{ 'products.product.add_to_cart' | t }}
                                 {%- else -%}
                                   {{ 'products.product.sold_out' | t }}
                                 {%- endif -%}
                               </span
                           </button>
                           {%- if block.settings.show_dynamic_checkout -%}
                             {{ form | payment_button }}
                           {%- endif -%}
                         </div>
                      </div>

              
                  
            </li>
            {% endfor %}
            
      </ul>
      
    </div>
</div>
</div>
</div>

{% schema %}
  {
    "name": "Product Section",
    "settings": [
      {
        "type": "textarea",
        "id": "colors",
        "label": "Colors Mapping",
        "default": "Green|#088A08\nRed|#FF0000\nBlue|#0000FF\nBlack|#000000\nYellow|#FFFF00\nGrey|#848484\nBrown|#3A2F0B\nWhite|#FFFFFF|\nOrange|#FF8000"
      }
    ]
  }
{% endschema %}


<script>
  const updateProduct=(variant)=>{
    alert(variant.id);
    products.id=variant.id
}
</script>