{%- style -%}
.inputVariationProduct{
  width: 20px;
  height: 20px;
  border: none;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 50%;

{%- endstyle -%}

<script>


const enviar = (id) =>{
console.log(id, '------');
let formData = {
 'items': [{
  'id': id,
  'quantity': 2
  }]
};
fetch(window.Shopify.routes.root + 'cart/add.js', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify(formData)
})
.then(response => {
  return response.json();
})
.catch((error) => {
  console.error('Error:', error);
})
.finally(()=>{
  window.document.location.href = "https://luis-giraldo-gradi-store.myshopify.com/cart"
})
}



</script>

<div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="product-recommendations page-width section-{{ section.id }}-padding isolate" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}">
      <div class="title-wrapper-with-link{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
        <h2 class="collection-list-title">{{ section.settings.title | escape }} Productos</h2>
      </div>
      <ul class="grid product-grid grid--{{ section.product-grid.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down" role="list">
            {% for product in collections['coleccionprod'].products %}
            <li class="grid__item">
                {% for image in product.images %}
                <a href="{{ product.url }}" class="product__title">
                    <img src="{{ image | image_url: width: 300 }}" alt="{{ product.title }}" loading='lazy' width=300 height=300/>
                    </a>
                {% endfor %}
                   <div class="card__information">
                        <h3 class="card__heading">{{ product.title }}</h3>
                        <h3 class="card__heading">{{ product.price | money_with_currency  }}</h3>

                        {% assign colors = settings.color_mapping | split: "," %}
                        {% for tempColor in colors %}
                        {% liquid
                            assign color=tempColor | split: ":" | last
                        %}
                        {% for variant in product.variants %}
                            {% liquid
                                assign variantColor = variant.option1 
                                assign colorCustomer=tempColor | split: ":"  | first
                            %}
                            {% if  colorCustomer contains variantColor  %}
                                <input class="input_productgrid" type='radio' style="accent-color:{{ color }}" checked="checked"/>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                        <quantity-input class="quantity mb-5">
                          <button class="quantity__button no-js-hidden" name="minus" type="button">
                            <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                            {% render 'icon-minus' %}
                          </button>
                          <input class="quantity__input"
                              type="number"
                              name="quantity"
                              id="Quantity-{{ section.id }}"
                              min="1"
                              value="1"
                              form="{{ product_form_id }}"
                            >
                          <button class="quantity__button no-js-hidden" name="plus" type="button">
                            <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                            {% render 'icon-plus' %}
                          </button>
                        </quantity-input>
                   </div>
                   <div class="product-form__buttons">
                    <button
                      type="submit"
                      name="add"
                      id="add-product"
                      onclick=enviar({{product.variants[0].id}})
                      class="product-form__submit button button--full-width ">
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
            </li>
            {% endfor %}
            
      </ul>
      
    </div>
</div>


