 <Style>

.product__color form {
  display: flex;
}
.product__color form fieldset {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
.product__color form fieldset label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 0;
  line-height: 1.6rem;
}
.product__color form fieldset label i {
  opacity: 0;
  transition: 0.32s;
}
.product__color form fieldset input {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.product__color form fieldset input:checked + label i {
  opacity: 1;
}
.product__color form fieldset:first-child {
  margin-right: 1rem;
}
.product__color form fieldset:first-child label {
  background: #B9B8B6;
}
.product__color form fieldset:first-child label i {
  color: #513F35;
}
.product__color form fieldset:last-child label {
  background: #513F35;
}
.product__color form fieldset:last-child label i {
  color: #B9B8B6;
}

</Style> 
<div class="color-{{ section.settings.color_scheme }} gradient">
    <div class="product-recommendations page-width section-{{ section.id }}-padding isolate" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ section.settings.products_to_show }}">
      <div class="title-wrapper-with-link{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% else %} title-wrapper--self-padded-mobile{% endif %} title-wrapper--no-top-margin">
        <h2 class="collection-list-title">{{ section.settings.title | escape }} Productos</h2>
      </div>
      <ul class="grid product-grid grid--{{ section.product-grid.settings.columns_desktop }}-col-desktop grid--{{ section.settings.columns_mobile }}-col-tablet-down" role="list">
            {% for product in collections['coleccionprod'].products %}
            <li class="grid__item">
                {% for image in product.images %}
                    <img src="{{ image | image_url: width: 300 }}" alt="{{ product.title }}" loading='lazy' width=300 height=300/>
                {% endfor %}
                   <div class="card__information">
                        <h3 class="card__heading">{{ product.title }}</h3>
                        <h3 class="card__heading">{{ product.price | money_with_currency  }}</h3>

                        {% assign colors = settings.color_mapping | split: "," %}
                        {% for colortemp in colors %}
                        
                          {% liquid 
                            assign color = colortemp | split: ":" | last 
                            assign nameColor = colortemp | split: ":" | first 
                            %}
                          <input type="radio" id="{{ product.option.position }}-{{ forloop.index0 }}"
                                    name="{{ product.option.name }}"
                                    value="{{ color | escape }}"
                                    form="{{ product.product_form_id }}"
                                    {% if product.option.selected_value == value %}checked{% endif %}
                              >
                         <label class="d-flex" style="background-color:{{color}}">{{color }}</label>
                        {% endfor %}

                        <div class="product__color">
                          <form action="">
                            <fieldset>
                              <input type="radio" name="color">
                              <label for="straw">
                                <i class="ion-android-done"></i>
                              </label>
                            </fieldset>
                            <fieldset>
                              <input type="radio" name="color">
                              <label for="brown">
                                <i class="ion-android-done"></i>
                              </label>
                            </fieldset>
                          </form>
                        </div>

                   </div>
            </li>
            {% endfor %}
      </ul>
    </div>
</div>


